<!DOCTYPE html>
<html>
<head>
	<title>Contact</title>
</head>
<style>
	html{
		background-color: #ebf4ec;
	}
	h2{
		text-align: center;
		color : #edbe17;
		font-family: sans-serif;
	}
	ul{
		list-style-type: none;
		margin :0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
	}
	li{
		float: left;
	}
	li a{
		display: block;
		color : white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	li a:hover:not(.active) {
		background-color: #111;
	}
	.active{
		background-color: #4CAF50;
	}
	
</style>
<header>
	<h2> Contact </h2>
</header>
<body>
	<nav>
		<ul>
			<li><a  class = "active"href="/views.py">Home</a></li>
			<li><a href="../showroom">Showroom</a></li>
			<li><a href="../contact">Contact</a></li>
			<li><a href="../aboutus">About us</a></li>
		</ul>
	</nav>
</body>
</html>